
body {
    background: linear-gradient(132deg, #F9FC3A, #F17105, #D11149, #1A8FE3, #31D843 );
    background-size: 400% 400%;
    animation: backgroundgradient 30s ease infinite;
    color: white;
    font-family: 'Mukta Mahee', 'Lucida Sans', sans-serif;    
}

fieldset {
    border:none;
    margin-top: 2em;
}

@keyframes backgroundgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/*--------------------------------------  Navigation  ----------------------------------------------------*/

.navbar {
    background-color: #000;    
}

.nav li a:link {
    background-color: #000;
    color: #7C7C7C;
}

.nav li a:visited {
    background-color: #000;
    color: #7C7C7C;
}

.nav li a:hover {
    color: #000;
    background-color: #7C7C7C;
}

.nav li a:active {
    background-color: #000;
    color: #7C7C7C;
}

.glyphicon {
    position:inherit;

}

.icon-bar {
   background-color: #7C7C7C;
}

/*--------------------------------------  Shared Elements  ----------------------------------------------------*/


.gen-btn {
    background-color: #000;
    color: #F7FFF7;
    margin: 0.2em;
    border: .005em solid white;
}

.gen-btn:hover {
    background: linear-gradient(132deg, #31D843, #F9FC3A, #31D843 );
    background-size: 400% 400%;
    animation: backgroundgradient 5s ease infinite;
    color: black;
    border: .005em solid black;
    font-weight: bold;
}

.gen-btn:focus:not(:active) {
    color: #F7FFF7;
}

a.btn-danger {
    border: 0.005em solid white;
    margin: 0.8em 0.2em;
    border-radius: 0.25em/0.25em;
}

a.btn-danger:hover {
    border: 0.005em solid #000;
    color: #000;
}

.like-btn {
    padding: 0.25em 0.5em;
    margin: 0.25em 0 0.5em 0;
}

.like-btn img {
    height: 1.25em;
    width: 1.25em;
    margin-bottom: 0;
}

.input-group {
    margin: 2em 0.75em;
}

.search-input {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.logo-name {
    font-family: 'Monoton', cursive;
    color: deeppink;
}

#logo-name-index {
    color: lightgreen;
}

/*.font-effect-neon#logo-name-index {
    text-shadow: 0.5em 0.5em 5em white;
}*/

/*------------------------------------------  User/Artist Profile Classes  --------------------------------*/

.profile-container {
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;
    padding: 1em 0.5em;
    width: 85%;
    border-radius: 2em/2em;
    font-size: 1.5em;   
}

.profile-cols {
    display: block;  /*block*/
    /*padding: 2em 4em;*/
}

.profile-cols ul li {
    padding: 0.25em 0em;
    list-style-type: none;    
}

.profile-img img {
    width: 8em;
    height: auto;    
    margin-bottom: 0.1em;
    border-radius: 50%;
}

ul.profile-lists {
    list-style-type: none;
  
}

ul.posts-lists {
    list-style-type: none;
    margin-top: 4em;
}

.posts-lists li {
    margin: 2em;
}

.posts-img img {
    width: auto;
    height: 30em;
}

#artist-profile-header {
    width: 100%;
}

#profile-img-adj {
    margin-left: 2em;
}

#other-user-time {
    padding-right: 0.5em;
}

.comment-body {
    background-color: rgba(0,0,0,0.85);
    padding: 0.25em;
}

.comment-header {
    font-family: 'Mukta Mahee', 'Lucida Sans', sans-serif;
    text-align: center;
    color: deeppink;
       
}

.comment-replies {
    color: #fff;
    padding: 0.4em;
}

#comment-adjust {
    margin-left: -1.2em;
}

#input-messages {
    margin-bottom: 0.5em;
}


/*------------------------------------  Grid  ----------------------------------------------------*/




/*--------------------------------------  Home  ----------------------------------------------------*/

.jumbotron {
    background-color: rgba(0,0,0,0.75);
    background-size: cover;
    padding: .25em;
    width: 80%;
    margin: 0 auto;
}

.jumbo-home {
    width: 80%;
    padding: 0.25em;
    margin: 2em auto;
}

.jumbotron img{
    height: 45%;
    width: 100%;
    margin-bottom: 1.75em;
    border-radius: 0.5em/0.5em;
}

/*#logo-name-home {
    font-size: 4em;
    color: deeppink;
    margin-bottom: 0.4em;
}*/

ul#home-list {
    list-style-type: none;
    font-size: 2em;
    font-family: 'Graduate', 'Lucida Sans', sans-serif;
   
}

#friends-icon {
    width: 10%;
    height: auto;
}


/*--------------------------------------  Log In  ----------------------------------------------------*/

#site-form {
    margin-top:25em;
    margin: 0 auto;
}

.form-control {
    border-radius: 0.2em/0.2em;    
}

.form-control:last-child {   
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

.login-username {
    background-color: rgba(0,0,0,.5);
    color: white;
    border: 0.05em solid;
    outline: white;
    height: 2.5em;
    transition: height 1s;
    -webkit-transition: height 1s;
    margin: 1em 0;
}

.login-username::-webkit-input-placeholder { /* Chrome */
    color: white;
}

.login-username:-ms-input-placeholder { /* IE 10+ */
    color: white;
}

.login-username::-moz-placeholder { /* Firefox 19+ */
    color: white;
    opacity: 1;
}

.login-username:-moz-placeholder { /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
}


.form-cover {
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/9b/ee/66/9bee667aa25b15f424c43bd26b678564--dj-party-music-party.jpg);
    height: 36em;
    width: 28em;
    margin: 0 auto;
    padding: 1em;
    -webkit-box-shadow: 6px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 4px 0px rgba(0,0,0,0.75);
}

.logo-login {
    font-family: 'Monoton', cursive;
    font-size: 3em;
    color: deeppink;
}


.login-buttons {
    margin: 3em 0.5em 1em;
    padding-top: 5em;
}

.login-con {
    margin-top: 10em;
    background-color: rgba(0,0,0,.4);
    border-radius: 1em/1em;
}



/*--------------------------------------  Register  ----------------------------------------------------*/

.reg-username {
    background:transparent;
    color: white;
    border: 0.05em solid;
    outline: white;
    height: 2.5em;
    transition: height 1s;
    -webkit-transition: height 1s;
    margin: 1em 0;
}
.register-background {
    background-color: black;
    width: 400px;
    height: 500px;
    margin-top: .6em;
    padding-top: 1.5em;
    border-radius: .5em;
}
.register-header {
    padding-bottom:-2em;
}

    .reg-username::-webkit-input-placeholder { /* Chrome */
        color: white;
    }

    .reg-username:-ms-input-placeholder { /* IE 10+ */
        color: white;
    }

    .reg-username::-moz-placeholder { /* Firefox 19+ */
        color: white;
        opacity: 1;
    }

    .reg-username:-moz-placeholder { /* Firefox 4 - 18 */
        color: white;
        opacity: 1;
    }
/*--------------------------------------  User Profiles  ----------------------------------------------------*/

.username {    
    text-align: center;
    color: white;
    margin-top: -0.2em;
}

.user-about {
    width: 60%;
    margin: 0 auto;
}

.user-stats {
    margin-right: 1em;
}

.user-search-container {
    margin: 0 auto;
    width: 85%;
}

.jumbo-users {
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;   
    padding: 0.5em;
    width: 60%;
    border-radius: 1em/1em;
}

.input-group-users {
    margin: 0.5em;
}

.user-name {
    text-transform: capitalize;
    font-weight: bold;
}

.users-list {
    margin: 1em;
    padding: 2em 1em 1em 1em;
    border-radius: 2em/2em;
}

#users-list-img img {
    width: 10em;
    height: auto;
    margin-bottom: .1em;
    border-radius: 50%;
}


.users-list:first-child {
    margin-top: 2em;
}

.user-info-list {
    font-size: 1.25em;
    color: white;
    display: inline-block;   
    text-align: justify;
    padding-left: 2em;    
}

ul.user-info {
    list-style-type: none;
    padding-left: 0em;
}

.user-info-list a:link{
    color: deeppink;
}

.user-info-list a:visited {
    color: deeppink;
}

.user-info-list a:hover {
    color: deeppink;
}

.user-info-list a:active {
    color: white;
}

/*--------------------------------------  ArtistProfiles  Search----------------------------------------------------*/
.artist-search-container {
    margin: 0 auto;
    width: 85%;
}

.center-block {
    margin: 0 auto;
}

.input-group-artist {
    margin: 0.5em;
}

.artist-jumbo {
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 1em/1em;
    width: 70%;
}

.artist-card {
    display: inline-block;
    box-shadow: none;
    margin: 0.5em;
    width: 20em;
    height: 20em;    
}

.artist-container {
    background-color: rgba(0,0,0,0.75);
    height: 20em;
    padding: 1em 0 0 0;
    border-radius: 2em/2em;    
}

/*a .w3-hover-sepia:hover {
    text-decoration: none;
}*/

.artist-block li {
    list-style-type: none; 
    display: inline-block;
}

.artists-list {
    background-color: rgba(0,0,0,0.75);
    display: inline-block;
    padding: 0.5em;
    width: 18em;
    height: 18em;
    border-radius: 2em/2em;
    text-align: center;
}

.artist-img {
    margin: 0 0 0.25em 0;
}

.artist-img img {
    margin: 0 auto;
    width: 15em;
    height: 15em;    
}

#no-underline {
    text-decoration: none;
}

.artist-name {
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 1.4em;
    padding: 0.5em 1em;    
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

a:link .artist-name {
    color: deeppink;
}

a:visited .artist-name {
    color: #CC1075;
}

a:hover .artist-name {
    color: #93FF14;
    
}

a:active .artist-name {
    color: deeppink;
    text-decoration: none;
}


/*------------------------------------------------  Artist Profiles Individual  --------------------------------------*/

.artist-profile-cols {
    display: inline-block;
    padding: 0.5em 1em;
}

.artist-profile-name {
    margin-bottom: 1em;
}

.artist-profile-img img {
    margin: 0.5em;
    width: 10em;
    height: 10em;
}

.artist-profile {
    margin: 0.5em;
    color: #F1F1F1;
    font-size: 0.9em;
}

.big-text {
    font-weight: bold;
    color: #000;
    font-size: 1em;
}



/*------------------------------------------------- UserPosts  ---------------------------------------------*/

.container-post {
    margin: 2em;
}

.card-post-userfeed {
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;
    width: 500px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 0.15em;
    color: white;
}

.card-header-post-userfeed {
    padding: 0 0 0 0.5em;
    text-align: left;
    width: 100%;
    display: inline-block;
}

.profile-img-post-userfeed {        
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0.5em 0 0 1em;   
}

.name-post-userfeed {
    font-size: 0.9em;
    font-weight: 500;
    margin: 0.5em 1em;
}

.time-userfeed {
    margin-top: 0.5em;
    float: right;
    text-align: right;
    font-size: 0.9em;
    font-weight: 500;
}

.content-post-userfeed img{
    width: 498px;
    height: 500px;
    padding: 0.85em;
}

.card-footer-userfeed {
    padding: 0 1em 1em 1em;
    text-align: left;    
}

.footer-section-1 {
    padding: 0 0.5em;
}

.video-style {
    width: 100%;
    height: auto;
    padding: 0.5em;
}

.favorites {
    margin: 0.5em 0 1em 0;
}

.artist-comment {
    width: 95%;
    margin: 0.5em 0 1em 0;
    float: right;
}

.caption-footer {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 0.25em;
}

.likes-footer {
    margin-bottom: 1.25em;
}

#artist-likes-footer {
    margin: 0 0 0.5em 0;
}

.all-comment-footer {
    margin: 0.25em 0 0 0.25em;
}

.comment-btn-footer {
    margin: 0.25em 0.35em 0 0;
    padding: 0em;
    width: 30%;
}

.comment-btn {
    padding: 0.25em 0.5em;
    margin: 0.25em 0 0.5em 0;
    float: right;
}

.comment-btn img {
    height: 1.25em;
    width: 1.25em;
    margin-bottom: 0;
}

.comment-modal {    
    margin: 0.75em 0 0 0;
}

.site-inputs {
    color: #000;    
    font-weight: bold;
}

.site-inputs::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1B2631;
}

.site-inputs::-moz-placeholder { /* Firefox 19+ */
    color: #1B2631;
}

.site-inputs:-ms-input-placeholder { /* IE 10+ */
    color: #1B2631;
}

.site-inputs:-moz-placeholder { /* Firefox 18- */
    color: #1B2631;
}

/*.card-post {
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;
    width: 500px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 2px;
    color: white;
}

.card-header-post {
    padding: 0.5em 1em 0 1em;
    text-align: left;
    display: flex;
}

.profile-img-post {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: relative;
    margin-right: 1em;
}

.profile-info-post {
    display: inline-block;
    display: flex;
}

.name-post {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0.75em;
}

.content-post img {
    width: 498px;
    height: 500px;
    padding: 15px;
}

.card-footer {
    padding: 0 1em 1em 1em;
    text-align: left;
}*/


/*--------------------------------  HOMEFEED  -----------------------------------*/

.card-post-homefeed {
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;
    width: 500px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 0.15em;
    color: white;
}

.card-header-post-homefeed {
    padding: 0 0 0 0.5em;
    text-align: left;
    display: inline-block;
}

.profile-img-post-homefeed {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0.5em 0 0 1em;
}

.profile-info-post-homefeed {
    display: inline-block;    
}

.name-post-homefeed {
    font-size: 0.9em;
    font-weight: 500;
    margin: 0.5em 1em;
}

.content-post-homefeed img {
    width: 498px;
    height: 500px;
    padding: 0.5em;
}

.card-footer-homefeed {
    margin: 0 1em 1em 1em;
    text-align: left;
}
#home-feed-headline {
    display: inline-block;    
    background-color: rgba(0,0,0,0.85);
    border-radius: 1em/1.5em;
    margin: 0em 0.5em;
    padding: 0.4em;
    width: 500px;
    font-size: 3.5em;
}

.time-homefeed {
    margin: 0.5em 2em 0 0;
    float: right;
    text-align: right;
    font-size: 0.9em;
    font-weight: 500;
}

.drop-menu {
    text-align: right;
    padding: 3.5em 0.5em 0.25em 0;
}

#user-drop-menu {
    padding: 0.5em 0.5em 0.25em 0;
}

.icon-tridots {
    cursor: pointer;
    
}
.icon-tridots:hover {
    text-decoration: none;
    cursor:pointer;
          
}

.icon-tridots-drop {
    background-color: transparent;    
}

.delete-d {
    color: white;
    background-color: #000;
    border: 0.005em solid white;
}

#delete-btn {
    color: white;
}

.delete-d:not(.nohover):hover {
    background: linear-gradient(132deg, #F40E00, #fe6363, #F40E00 );
    background-size: 400% 400%;
    animation: backgroundgradient 5s ease infinite;
    color: white;
    
}

.delete-d:hover{
    background: linear-gradient(132deg, #F40E00, #fe6363, #F40E00 );
    background-size: 400% 400%;
    animation: backgroundgradient 1s ease infinite;      
    
}




/*--------------------------------------------  Post Modal  --------------------------------------------*/



.post-modal {
    background-color: rgba(120,224,0, 0.85);
    padding: 0.25em;
    font-size: 1.2em;
    color: #000;  
    text-align: center;
}

#modal-submit {
    margin-bottom: 0.8em;
}

/*----------------------------------------------- All Messages ----------------------------------------------*/

#inbox {
    background-color: #353337;
    color: white;
    width: 30em;
    height: 7em;
    display: flex;
    border: none;
    border-radius: 0.5em;
    margin: .35em;
}
.messages-header {
    margin-right: 6.15em;
    flex: 1;
}
#newm {
    flex: 1;
    margin-top: .7em;
    background: #31D843;
    color: white;
}
.messages-background {
    background: black;
    width: 100%;
    height: 48em;
    padding-top: 2em;
}

#inbox:hover{
    background:#1A8FE3
}

.panel panel-default:hover {
    background: #1A8FE3
}
.panel-body-messages {
    width:5em;
    height:5em; 
    border-radius: 50%;
}
.all-usernames {
   
    margin-left: 1em;
}
.all-messagedates {
   
    margin-left: 12em;
}
.all-messages {
    margin-top: 3.5em;
    text-align: left;
    margin-left: -19.5em;
}
.conversations {
    max-height: 36em;
    overflow-y: auto;
    list-style: none;
    width: 35em;
}
.conversations::-webkit-scrollbar {
    width: 10px;
}

.conversations::-webkit-scrollbar {
    border-radius: 5px;
    background: #353337;
    color:black
}

/*--------------------------------------------- Personal Messages -------------------------------------------*/
.messages-background-chat {
    background: black;
    width: 100%;
    height: 47.5em;
    

}
.messages-hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #353337;
    margin: 1em 0;
    padding: 0;
}






.chatbox {
    width: 50em;
    min-width: 25px;
    height: 28em;
    background: black;
    padding-top: 25px;
    margin: 20px auto;
    border: 1px solid #353337;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 24em;
    background: black;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar{
    width:10px;
}

.chatlogs::-webkit-scrollbar{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-left: 4em;
}
.chat .user-photo {
    height: 2.7em;
    width: 2.7em;
    border-radius: 50%;
    overflow:hidden;
}

.chat .user-photo img{
    width:2.7em;
}
.chat-info{
    margin-top:.5em;
    font-weight:lighter;
}

.chat .chat-message {
    width:80%;
    
    padding:15px;
    margin: 5px 10px 0;
    
    font-size:20px;
}

.friend .chat-message {
    background: #1A8FE3;
    border-radius: 15px 15px 15px 0em;
}

.self .chat-message {
    background: white;
    color: black;
    order: -1;
    border-radius: 15px 15px 0px 15px;
}

.chat-form {
    margin-top: 3em;
    display: flex;
    align-items: flex-start;
    margin-left: 3.8em;
}

    .chat-form textarea {
        background: #fbfbfb;
        width: 75%;
        height: 50px;
        border: 2px solid #eee;
        border-radius: 13px 13px 13px 13px;
        font-size: 18px;
        color: #333;
        margin-left: .5em;
    
    }

.chat-form textarea:focus{
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
        width: 10px;
    }

.chat-form textarea::-webkit-scrollbar {
        border-radius: 5px;
        background: rgba(0,0,0,.1);
    }

.chat-form button {

  
   padding: 5px 15px;
   font-size: 30px;
   color:#fff;
   border: .01em solid white;
   margin: 0 10px;
   border-radius:15px 15px 15px 15px;
  
    cursor: pointer;

    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease
}

.chat-form button:hover {
        background: linear-gradient(132deg, #31D843, #F9FC3A, #31D843 );
        background-size: 400% 400%;
        animation: backgroundgradient 5s ease infinite;
        color: black;
    }
