
#FanAppHome {
    font-family: 'Monoton', cursive;
    font-size: 100px;
}

ul#change {
    list-style-type: none;
    font-size: 30px;
    font-family: 'Graduate', cursive;
}

#a {
    color: #faff00;
    font-stretch: ultra-expanded;
}

#b {
    color: #3fff00;
    font-stretch: ultra-expanded;
}

#c {
    color: #00f2ff;
    font-stretch: ultra-expanded;
}

#aTag {
    color: hotpink;
}

    #aTag:hover {
        color: lightgreen;
    }
.container index-ui shadow{
    display:none;
}


main image style {
    style ="height:320px; width:100%;"
}

clip article {
    style ="height:auto; width:130px;"
}