body {
    background: linear-gradient(132deg, #F9FC3A, #F17105, #D11149, #1A8FE3, #31D843 );
    background-size: 400% 400%;
    animation: backgroundgradient 22.5s ease infinite;
    color: white;
    font-family: 'Mukta Mahee', 'Lucida Sans', sans-serif;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}

legend {
    color: white;
}

@keyframes backgroundgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

label {
    padding: 15px 0 2px 0;
    color: #000;
}



/*--------------  NAVIGATION  -------------------------------------------------*/

.navbar {
    background-color: #000;
}

.navbar-brand {
    color: #1A8FE3;
}

.nav li a:link {
    background-color: #000;
    color: #7c7c7c;
}

.nav li a:visited {
    background-color: #000;
    color: #F7FFF7;
}

.nav li a:hover {
    color: #000;
    background-color: #aaa;
}

.nav li a:active {
    background-color: #000;
    color: #F7FFF7;
}


/*-----------------  UI-VIEW  --------------------------------------------------------*/
.index-ui {
    background-color: #000;
    color: #F7FFF7;
}

.gen-btn {
    background-color: #000;
    color: #F7FFF7;
    margin: 20px 10px 10px 10px;
    border: 1px solid white;
}

    .gen-btn:hover {
        background: linear-gradient(132deg, #31D843, #F9FC3A, #31D843 );
        background-size: 400% 400%;
        animation: backgroundgradient 5s ease infinite;
        color: black;
        border: 1px solid black;
        font-weight: bold;
    }

    .gen-btn:focus:not(:active) {
        color: #F7FFF7;
    }

.search-bar {
    margin-bottom: 10px;
}

.search-input {
    margin: 20px;
    display: block;
    background-color:black;
    border-radius:3px;
    color:white;

}

/*------------------------------  LOGIN  ----------------------------------------------*/

#loginform {
    padding-top: 10em;
}

.input-group-btn {
    display: inline-flex;
    margin-right: 20px;
}

.user-inputs {
    padding: 5px 0;
}

#loginusername {
    background-color: #000;
    color: white;
    border: 1px solid;
    outline: white;
    height: 30px;
    transition: height 1s;
    -webkit-transition: height 1s;
}

    #loginusername::-webkit-input-placeholder { /* Chrome */
        color: white;
    }

    #loginusername:-ms-input-placeholder { /* IE 10+ */
        color: white;
    }

    #loginusername::-moz-placeholder { /* Firefox 19+ */
        color: white;
        opacity: 1;
    }

    #loginusername:-moz-placeholder { /* Firefox 4 - 18 */
        color: white;
        opacity: 1;
    }



/*------------------------------  REGISTER  --------------------------------------------*/
.reg-inputs {
    padding: 28px 0;
}



/*------------------- USER PROFILE --------------------------------*/

.user-container {
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;    
    padding: 20px;
    width: 95%;
    border-radius: 2em/2em;
}

#profile {
    /*background-color: rgba(105,100,100,0.8);*/
    padding: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

#Main {
    font-size: 1.75em;
    padding: 5px 0;
    margin-left: 25px;
    color: mediumvioletred
}

.username {
    text-align: center;
    padding-top: 4em;
    color: white;
}

.column-layout {
    padding: 3em;
    display: flex;
    justify-content: space-between;
    color: white;
}

.left-column {
    flex: 1;
    order: 1;
    box-sizing: border-box;
    flex-basis: 30%;
    margin: 0 0 0 1em;
    font-size: 1.25em;
}

.profile-name {
    text-transform: capitalize;
    font-weight: bold;
}

.main-column {
    flex: 1;
    order: 2;
    box-sizing: border-box;
    position: center;
    flex-basis: 30%;
    text-align: center;
    margin: 1em;
}

.right-column {
    flex: 1;
    order: 3;
    box-sizing: border-box;
    flex-basis: 30%;
    margin: 0 1em 0 0;
    font-size: 1.25em;
    text-align: left;
}

.profile-heads {
    text-decoration: underline;
    font-weight: bold;
}



.profile-text:last-child {
    margin-bottom: 50px;
}

/*.profile-img {
    background: linear-gradient(132deg, #31D843, #1A8FE3, #D11149, #F17105, #F9FC3A );
    background-size: 100% 100%;
    animation: backgroundgradient 30s ease infinite;
    padding-top: 12px;
    width: 226px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}*/

.profile-img img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}
.profile-img-post img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}


/*---------------------------------------Home Page----------------------------------------------------------------*/


#micimg {
    height: auto;
    width: 60px;
}

/*-------Create Profile---------*/

#textarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid;
    outline: white;
}

/*---------------- User Classes ---------------------*/
.user-search {
}

.list-columns {
    columns: 3;
}

.users-list {
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 300px;
}

    .users-list:first-child {
        margin-top: 2px;
    }

.user-info-list {
    font-size: 1.25em;
    color: white;
    display: inline-block;    
}

    .user-info-list a:link {
        color: deeppink;
    }

    .user-info-list a:visited {
        color: deeppink;
    }

    .user-info-list a:hover {
        color: deeppink;
    }

    .user-info-list a:active {
        color: white;
    }


/*-------------- Artist Classes ----------------------------------*/

.list-space {
    padding-bottom: 30px;
}

.artist-block {
    margin-top: 25px;
    margin: 0 auto;
    width: 95%;
}

.artist-block li {
    list-style-type: none;
}

.artists-list {
    background-color: rgba(0,0,0,0.75);
    margin: 20px;
    padding: 10px 10px 10px 10px;
    width: 300px;
    height: 300px;
    border-radius: 2em/2em;
    text-align: center;
}


.artist-img img {
    width: 200px;
    height: auto;
    padding-bottom: 5px;
    border-radius: 50%;
}

.artist-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5em;
}

    .artist-name a:link {
        color: deeppink;
    }

    .artist-name a:visited {
        color: deeppink;
    }

    .artist-name a:hover {
        color: deeppink;
    }

    .artist-name a:active {
        color: white;
    }



/*--------------------------------------------Artist Profile-----------------------------------------------------*/

#artistProfile {
    margin-left: 3.5em;
    margin-right: 3.5em;
    margin-top: 3.5em;
    background-color: black;
    border: solid;
    border-color: white;
}


.main-artist-column {
    flex: 1;
    order: 1;
    box-sizing: border-box;
    position: center;
    flex-basis: 50%;
    text-align: center;
    padding-left: 2em;
}

.right-artist-column {
    flex: 1;
    order: 2;
    box-sizing: border-box;
    flex-basis: 50%;
    margin-right: 1em;
    font-size: 1.25em;
    text-align: left;
    padding-top: 2em;
}

.artist-genre {
    color: white;
    text-transform: capitalize;
}

.image-post{
    display:flex;
    height:auto;
    width:600px;

}

/*------------------------UserPosts----------------------------*/



.card-post {
    background-color: rgba(0,0,0,0.75);
    margin: 0 auto;
    width: 500px;
    height: 600px;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 2px;
    color:white;
}
.card-header-post{
    padding:15px;
}
.profile-img-post{
    display:inline-block;
    height:30px;
    width:30px;
    border-radius:50%;
    position:relative;
    top:3px;
    margin-right:5px;
}
.profile-info-post{
    display:inline-block;
}
.name-post{
    font-size:14px;
    font-weight:700;

}
.content-post{
   
}
/*----------------modalMessages-----------------------------*/

