<div class="container-fluid text-center">
    <div class="w3-row profile-container">
        <div class="w3-half artist-profile-img">
            <img class="w3-circle" ng-src="{{controller.artist.imageUrl}}" />
        </div>
        <div class="w3-half artist-profile-cols">
            <h2 class="artist-profile-name">{{controller.artist.name}}</h2>
            <div>{{controller.number}} Uploads</div>
            <div class="artist-profile">
                <button type="button" class="btn gen-btn btn-lg" data-toggle="modal" data-target="#postModal" ng-click="controller.showModalPost()">Post</button>
                <!--data-toggle="modal" data-target="#postModal"-->
            </div>
        </div>
    </div>
</div>
<section class="container-post" ng-repeat="p in controller.posts | orderBy:'dateCreated':true" ng-model="controller.posts.media">
    <div class="card-post-homefeed">
        
        <div class="w3-row card-header-post-homefeed" id="artist-profile-header">            
            <img class="w3-quarter profile-img-post-homefeed" ng-src="{{p.profileImage}}" />            
            <div class="w3-quarter name-post-homefeed user-name-prof"><a ui-sref="otherUserProfile({ id: p.userId })">{{p.userName}}</a></div>            
            <div class="w3-half time-homefeed">{{p.dateCreated | date:'MMMM dd, y @ h:mma'}}</div>
        </div>        
       
        <div class="content-post-homefeed">
            <img ng-hide="p.media == null || p.media == ''" ng-src="{{p.media}}" />
        </div>
        <div class="content-post-homefeed">
            <video ng-hide="p.video == null || p.video == ''" class="video-style" controls ng-src="{{p.video}}"></video>
        </div>		
		
        <div class="w3-row card-footer-homefeed">
            <div class="w3-container caption-footer">{{p.caption}}</div>
            <div class="w3-quarter w3-container footer-section-1">
                <div class="likes-footer" id="artist-likes-footer"> Likes: {{p.numberofLikes}}</div>
                <button ng-click="controller.likePost(p.postId)" class="btn gen-btn like-btn btn-lg"><img src="https://image.flaticon.com/icons/svg/478/478791.svg" /></button> 
            </div>       
    
            <div class="w3-threequarter w3-container">
                <textarea placeholder="Comment here..." class="site-inputs form-control" rows="1" ng-model="text"></textarea>
                <div class="w3-row">
                    <div class="w3-twothird w3-container comment-modal user-name-prof">
                        <a data-toggle="modal" class="all-comment-footer" id="comment-adjust" data-target="#ModalComments" ng-click="controller.showModalComments(p.postId)">See All Comments</a>
                    </div>
                    <div class="w3-third w3-container comment-btn-footer">
                        <button class="btn gen-btn comment-btn btn-lg" type="submit" ng-click="controller.AddComment(p.postId , text)"><img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-10/512/Comment-add-icon.png" /></button>
                    </div>                        
                </div>             
            </div>            
            <!--<div class="dropdown">
                <a class="glyphicon glyphicon-option-horizontal icon-tridots" data-toggle="dropdown"></a>
                <ul class="dropdown-menu icon-tridots-drop">
                    <li><a href="#" class="btn gen-btn btn-sm delete-d" style="color:white;" ng-click="controller.deletePost(p.postId)">Delete</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>-->
          
        </div>
    </div>
</section>

<!--
<script>
    $(document).ready(function () {


    <section ng-repeat="p in controller.posts" class="container-post">
        <div class="card-post">
            <div class="card-header-post">
                <img class="profile-img-post" ng-src="{{controller.user.imageUrl}}" />
                <div class="profile-info-post">
                    <div class="name-post">{{controller.user.userName}}</div>
                    <div class="location"></div>
                </div>
                <div class="time" {{p.dateCreated | date:'MMMM dd, y @ h:mma'}}></div>
            </div>
            <div class="content-post">
                <img ng-hide="p.media == null || p.media == ''" ng-src="{{p.media}}" />
                <button ng-hide="p.media == null || p.media == ''" type="button" class="btn gen-btn btn-lg" 
                        ng-click="controller.LikePost(p.postId)">Like</button>
            </div>
			<div class="content-post">
				<video ng-hide ="p.video == null || p.video == ''" width="320" height="240" controls ng-src="{{p.video}}"></video>
  <button ng-hide ="p.video == null || p.video == ''" type="button" class="btn gen-btn btn-lg"   ng-click="controller.LikePost(p.postId)">Like</button>
			</div>
            <div class="card-footer">
                <div class="Favorites">## FAVORITES</div>
                <div class="description">TEST DESCRIPTION</div>
                <div class="comments"></div>
                <div class="form"></div>
            </div>
        </div>
    </section>
   
   </div> 
    -->


   