<div  class="artist-genre"{{controller.artists.genre}}> 
<div  ng-repeat="artist in controller.artists" > 
    \
            <div class="profile-img">
                <img ng-src="{{artist.imageUrl}}" />
            </div>
      \
            <div class="user-info-list">
                <div class="artist-name">
                    <a ui-sref="artistProfile({ id: artist.id })">
                        {{artist.name}}
                    </a>
                </div>
                
            </div>
        \

</div>
</div>
