<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

	<div class="profile-text"><span class="profile-heads">Email</span>: {{controller.user.email}}</div>

	<div class="profile-text"><span class="profile-heads">UserName</span>: {{controller.user.userName}}</div>

	<div class="profile-text"><span class="profile-heads">First Name</span>: {{controller.user.firstName}}</div>

	<div class="profile-text"><span class="profile-heads">Last Name</span>: {{controller.user.lastName}}</div>

    <form ng-submit="controller.PostUserProfile(aboutMe, imageUrl)">

        <div class="input-group">

            <div class="form-group">
				<label>Image:</label>
				<input class="form-control" ng-model="imageUrl" />
				<label>About:</label>
                <input class="form-control" ng-model="aboutMe" />
            </div>

            <div>-->
                <button class="btn login-btn btn-lg" type="submit">Save</button>
            </div>

        </div>
        </form>>
</body>
</html>