	

	<!--<div class="text-center profile-img"><img ng-src="{{controller.user.imageUrl}}{{controller.file.url}}" /></div>

	<div class="profile-text"><span class="profile-heads">Email</span>: {{controller.user.email}}</div>

	<div class="profile-text"><span class="profile-heads">UserName</span>: {{controller.user.userName}}</div>

	<div class="profile-text"><span class="profile-heads">First Name</span>: {{controller.user.firstName}}</div>

	<div class="profile-text"><span class="profile-heads">Last Name</span>: {{controller.user.lastName}}</div>

	<div class="profile-text"><span class="profile-heads">About Me</span>: {{controller.user.aboutMe}}</div>-->
	


<form ng-submit="controller.PostUserProfile(aboutMe, controller.file.url)">
    <div class="username">
        <h1>
            {{controller.user.userName}}
        </h1>
    </div>

    <div class="column-layout">
        <div class="left-column">
            <div><strong>{{controller.user.firstName}} {{controller.user.lastName}}</strong></div> <br />
            <div><span></span> {{controller.user.email}}</div> <br />
            <div><span>Member since</span>: {{controller.user.dateCreated | date}}</div>

        </div>

        <div class="main-column">

            <button type="button" ng-click="controller.pickFile()" class="btn btn-warning">Upload Snapshot</button>
            <img class="profile-img" ng-src="{{controller.file.url}}" alt="{{controller.file.filename}}" />
            <br />
        </div>

        <div class="right-column">
            <div>
                <span>0 Uploads</span> &nbsp &nbsp
                <span href="#">0 Following</span>  &nbsp &nbsp
                <span href="#">0 Followers</span>
            </div> <br />
            <textarea placeholder="Tell the World about yourself" class="form-control" rows="1" id="loginusername" ng-model="aboutMe"></textarea> <br />
            <button class="login-btn btn-lg" type="submit" goto="/userProfile">Save Profile</button>
        </div>
    </div>
</form>



