<link href="https://fonts.googleapis.com/css?family=Monoton&effect=-neon|neon" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate" rel="stylesheet">
<link rel="stylesheet" href="homestyle.css">

<body id="homeBody">
    <center>
    <h2 id="FanAppHome" class="font-effect-neon" style="font-size: 100px;">FanBase</h2>
        <img style="height:320px; width:100%;" src="http://az616578.vo.msecnd.net/files/2017/02/13/6362254135894746572005726741_concert.jpg" />
        <ul id="change">
            <li class="m" id="a"> Connect with friends! </li>
            <li class="m" id="b"> Share your fan love with your peeps!</li>
            <li class="m" id="c"> Find out about releases on your favorite artist !</li>
            <li>And More ! </li>
            <li>Click <a id="aTag" href="/register">Register</a> to Join the Base!</li>            
        </ul>
        <img style="height:auto; width:130px;" src="http://www.pngmart.com/files/5/Friends-PNG-HD.png" />
</center>
</body>
