<h1>Home Feed</h1>

<section class="container-post" ng-repeat="p in controller.post | orderBy:'dateCreated':true">
    <div class="card-post"   >
        <div class="card-header-post" >
            <img class="profile-img-post" ng-src="{{p.profileImage}}" />



            <div class="profile-info-post">
                <div class="name-post">{{p.userName}} posted on {{p.artistName}} profile</div>
                <div class="location"></div>

            </div>
            <div class="time" {{p.dateCreated | date}}>
                {{p.dateCreated |  date:'MMMM dd, y @ h:mma'}}
            </div>

        </div>
        <div class="content-post" width="498" height="500" >
            <img ng-hide="p.media == null || p.media == ''" ng-src="{{p.media}}" width="498" height="500" />
        </div>
		<div class="content-post">
			<video ng-hide="p.video == null || p.video == ''" width="320" height="240" controls ng-src="{{p.video}}"></video>
		</div>

        <div class="card-footer">
            <button ng-click="controller.likePost(p.postId)"  class="btn gen-btn btn-lg">Like</button>
            <div class="Favorites">
                21 Favorites
            </div>
            <div class="description">
                <p>
                    {{p.caption}}

                </p>

            </div>
            <div class="comments">

            </div>
            <div class="form">

            </div>
        </div>
    </div>
    <br />
    <br />

</section>
