<center>
    <h1 class="font-effect-neon logo-name" id="home-feed-headline">Home Feed</h1>
    <section class="container-post" ng-repeat="p in controller.post | orderBy:'dateCreated':true ">
        <div class="card-post-homefeed">
            <div class="row card-header-post-homefeed">

                <img class="w3-quarter profile-img-post-homefeed" ng-src="{{p.profileImage}}" />

                <div class="w3-half name-post-homefeed">{{p.userName}} posted on {{p.artistName}}'s profile</div>
                <!--<div class="location"></div>-->

                <div class="w3-quarter time-homefeed" {{p.dateCreated | date}}>
                    {{p.dateCreated |  date:'MMMM dd, y @ h:mma'}}
                </div>
            </div>            

            <div class="content-post-homefeed">
                <img ng-hide="p.media == null || p.media == ''" ng-src="{{p.media}}" />
            </div>
            <div class="content-post-homefeed">
                <video ng-hide="p.video == null || p.video == ''" width="320" height="240" controls ng-src="{{p.video}}"></video>
            </div>


            <div> {{p.text}}</div>
            <div class="card-footer-homefeed">
				<button ng-click="controller.likePost(p.postId)" class="btn gen-btn btn-lg"><img style="height:20px;width:20px;" src="https://image.flaticon.com/icons/svg/478/478791.svg" /></button>
				<div class="Favorites">
					21 Favorites
				</div>
				<div class="description">{{p.caption}}</div>
                <!--
                <div class="comments"></div>
                <div class="form"></div>
                -->
            </div>
        </div>
    </section>
</center>

