<div class="container-fluid text-center">    
    <div class="jumbotron">
        <h1 class="font-effect-neon logo-name" id="logo-name-home">CROWDSURF</h1>
        <img src="http://az616578.vo.msecnd.net/files/2017/02/13/6362254135894746572005726741_concert.jpg" />
        <ul id="home-list">
            <li>Connect with friends</li>
            <li>Follow your favorite artists</li>
            <li>Share your photos, videos, memorabilia</li>            
            <li>And More!</li>
            <li>Click <a href="/register" class="btn btn-lg gen-btn">Register</a> to Join the Base</li>
        </ul>
        <!--
        <img id="friends-icon" src="http://www.pngmart.com/files/5/Friends-PNG-HD.png" />
        <p>{{controller.message}}</p>
        -->
    </div>
</div>
