<center>
    <h1 class="font-effect-neon logo-name" id="home-feed-headline">Home Feed</h1>
    <section class="container-post" ng-repeat="p in controller.post | orderBy:'dateCreated':true ">
        <div class="card-post-homefeed">
            <div class="w3-row card-header-post-homefeed">

                <img class="w3-quarter profile-img-post-homefeed" ng-src="{{p.profileImage}}" />

                <div class="w3-half user-name-prof name-post-homefeed"><a ui-sref="otherUserProfile({ id: p.userId })">{{p.userName}}</a> posted on<a ui-sref="artistProfile({ id: p.applicationArtistId })"> {{p.artistName}}'s</a> profile</div>
                
                <div class="w3-quarter time-homefeed">
                    {{p.dateCreated | date:'MMMM dd, y @ h:mma'}}
                </div>
            </div>            

            <div class="content-post-homefeed">
                <img ng-hide="p.media == null || p.media == ''" ng-src="{{p.media}}" />
            </div>
            <div class="content-post-homefeed">
                <video ng-hide="p.video == null || p.video == ''" controls ng-src="{{p.video}}" class="video-style"></video>
            </div>

            <div class="w3-row card-footer-homefeed">
                <div class="w3-container caption-footer">{{p.caption}}</div>
                <div class="w3-quarter w3-container footer-section-1">
                    <div class="likes-footer" id="artist-likes-footer">Likes: {{p.numberofLikes}}</div>
                    <button ng-click="controller.likePost(p.postId)" class="btn gen-btn like-btn btn-lg"><img src="https://image.flaticon.com/icons/svg/478/478791.svg" /></button> 
                </div>
                <div class="w3-threequarter w3-container">
                    <textarea placeholder="Comment here..." class="site-inputs form-control" rows="1" ng-model="text"></textarea>
                    <div class="w3-row">
                        <div class="w3-twothird w3-container user-name-prof comment-modal">
                            <a data-toggle="modal" class="all-comment-footer" id="comment-adjust" data-target="#ModalComments" ng-click="controller.showModalComments(p.postId)">See All Comments</a>
                        </div>
                        <div class="w3-third w3-container comment-btn-footer">
                            <button class="btn gen-btn comment-btn btn-lg" type="submit" ng-click="controller.AddComment(p.postId , text)"><img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-10/512/Comment-add-icon.png" /></button>
                        </div>                        
                    </div>
                </div>               
            </div>
        </div>
    </section>
</center>

