<div class="container-fluid text-center site-form">
    <center>       
        <fieldset>
            <ul>
                <li ng-repeat="error in controller.validationmessages">{{error}}</li>
            </ul>                
            <div class="form-cover">
                <form ng-submit="controller.login()">                        
                    <h1 class="font-effect-neon logo-login">CROWDSURF</h1>                        
                    <div class="input-group">
                        <div class="form-group">
                            <!--<label>Username</label>-->
                            <input placeholder="Username" class="login-username form-control" ng-model="controller.loginUser.username" />
                        </div>
                        <div class="form-group">
                            <!--<label>Password</label>-->
                            <input placeholder="Password" class="login-username form-control" type="password" ng-model="controller.loginUser.password" />
                        </div>
                        <div class="login-buttons">
                            <button class="btn gen-btn btn-lg" type="submit">Log In</button>
                            <a href="/register" class="btn gen-btn btn-lg">Register</a>
                        </div>
                        <div class="login-con">
                            <h5>CrowdSurf lets you share and follow music fans' photos, rare merch, and more!</h5>
                        </div>                           
                    </div>
                </form>
            </div>
        </fieldset>
    </center>
</div>
