<div class="user-container">
    
    <div class="username">
        <h1>{{controller.user.userName}}</h1>
    </div>

    <div class="column-layout">
        <div class="left-column">
            <div id="profile-name">{{controller.user.firstName}} {{controller.user.lastName}}</div>
            <br />
            <div>{{controller.user.email}}</div>
            <br />
            <div>Member since: {{controller.user.dateCreated | date}}</div>
        </div>

        <div class="main-column">
            <div class="profile-img">
                <img ng-src="{{controller.user.imageUrl}}" />
            </div>
        </div>

        <div class="right-column">
            <div>
                0 Uploads &nbsp &nbsp
                0 Following &nbsp &nbsp
                0 Followers
            </div>
            <br />
            <div>{{controller.user.aboutMe}}</div>
            <br />
            <div>
                <a href="#" class="btn gen-btn btn-lg">Follow</a>
            </div>
        </div>
    </div>
</div>
<div>
	<h1></h1>
	<ul>
		<li ng-repeat="p in controller.posts"><img class="" ng-src="{{p.media}}" /> {{p.dateCreated | date}}</li>
	</ul>
</div>