<div class="profile-header">

    <h1>
        {{controller.user.userName}}'s Profile
    </h1>

</div>



<div class="text-center profile-img"><img ng-src="{{controller.user.imageUrl}}" /></div>
<br />

<div class="profile-text"><span class="profile-heads">Email</span>: {{controller.user.email}}</div>

<div class="profile-text"><span class="profile-heads">UserName</span>: {{controller.user.userName}}</div>

<div class="profile-text"><span class="profile-heads">Name</span>: {{controller.user.firstName}} {{controller.user.lastName}}</div>

<!--<div class="profile-text"><span class="profile-heads">Last Name</span>: {{controller.user.lastName}}</div>-->

<div class="profile-text"><span class="profile-heads">About Me</span>: {{controller.user.aboutMe}}</div>


<div class="profile-text"><span class="profile-heads">Account Created on</span>: {{controller.user.dateCreated | date}}</div>

