    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Username" ng-model="myFilter.userName" aria-describedby="basic-addon1">
    </div>
<div ng-show="myFilter.userName" >
    <ul style="list-style: none;">
        <li ng-repeat="user in controller.users | filter:myFilter | orderBy:'userName' "><img ng-src="{{user.imageUrl}}" style="width: 400px" /> <a ui-sref="otherUserProfile({ email: user.email})">{{user.userName}}</a>{{user.email}} {{user.firstName}} {{user.lastName}}</li>
    </ul>
</div>