<div class="container-fluid user-search-container">
    <div class="jumbo-users">
        <div class="input-group-users">
            <input type="text" class="search-input form-control" placeholder="Search Username" ng-model="myFilter.userName" aria-describedby="basic-addon1">
        </div>
        <div ng-show="myFilter.userName">
            <ul class="user-info">
                <li ng-repeat="user in controller.users | filter:myFilter | orderBy:'userName'" class="users-list">
                    <div id="users-list-img">
                        <img ng-src="{{user.imageUrl}}" />
                        <div class="user-info-list">
                            <a ui-sref="otherUserProfile({ id: user.id })">
                                {{user.userName}}
                            </a>
                            <div>{{user.email}}</div>
                            <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
                        </div>
                    </div>                
                </li>
            </ul>
        </div>
    </div>
</div>


<!--<div class="user-container">
    <div class="input-group">
        <input type="text" class="search-input form-control" placeholder="Search Username" ng-model="myFilter.userName" aria-describedby="basic-addon1">
    </div>
    <div ng-show="myFilter.userName">
        <ul>
            <li ng-repeat="user in controller.users | filter:myFilter | orderBy:'userName'" class="users-list">
                <div class="profile-img">
                    <img ng-src="{{user.imageUrl}}" />
                    <div class="user-info-list">
                        <a ui-sref="otherUserProfile({ id: user.id })">
                            {{user.userName}}
                        </a>
                        <div>{{user.email}}</div>
                        <div class="profile-name">{{user.firstName}} {{user.lastName}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>-->