<div id="pagewrap">

    <header>
        <h1>
            {{controller.user.userName}}
        </h1>
    </header>

    <section id="content">
        <div class="name">{{controller.user.firstName}} {{controller.user.lastName}}</div>
        <div class="bio">{{controller.user.aboutMe}}</div>
        <div class="settings">
            <a href="/createProfile" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-cog"></span>
                 Edit Profile
            </a>
        </div>
    </section>

    <section id="middle">
        <div class="profile-img"><img ng-src="{{controller.user.imageUrl}}" /></div>
    </section>

    <section id="aside">
        <div class="activity"><span>Uploads</span></div>
        <div class="activity"><span href="#">Following</span></div>
        <div class="activity"><span href="#">Followers</span></div>
        <div class="email"><span>Email</span>: {{controller.user.email}}</div>
        <div class="member"><span>Member since</span>: {{controller.user.dateCreated | date}}</div>
    </section>
    

</div>




<!--<div class="profile-header">    
    <h1>
        {{controller.user.userName}}'s Profile
    </h1>    
</div>
<div class="text-center profile-img"><img ng-src="{{controller.user.imageUrl}}" /></div>
<br />
<div class="profile-text"><span class="profile-heads">Email</span>: {{controller.user.email}}</div>  
<div class="profile-text"><span class="profile-heads">UserName</span>: {{controller.user.userName}}</div>  
<div class="profile-text"><span class="profile-heads">Name</span>: {{controller.user.firstName}} {{controller.user.lastName}}</div>
<div class="profile-text"><span class="profile-heads">Last Name</span>: {{controller.user.lastName}}</div>
<div class="profile-text"><span class="profile-heads">About Me</span>: {{controller.user.aboutMe}}</div>
<div class="profile-text"><span class="profile-heads">Account Created on</span>: {{controller.user.dateCreated}}</div>
<div class="profile-text"><span class="profile-heads">Member Since</span>: {{controller.user.dateCreated | date}}</div>
<br /><br />
<button type="button" ng-click="controller.pickFile()" class="btn btn-warning">Upload Snapshot</button>
<img ng-src="{{controller.file.url}}" alt="{{controller.file.filename}}" />
<br />
<div class="profile-text"><span class="profile-heads">Account Created on</span>: {{controller.user.dateCreated | date}}</div>
<div id="search">
    <div class="">
        <input type="text"  placeholder="Search" ng-model="search"/>
        placeholder="Search"
        <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </span>
        <select ng-model="search" ng-options="planet.firstName for planet in controller.user track by planet.firstName">
        </select>
        <ul ng-repeat="users in controller.getUserProfile() | filter:search ">
            <li>    </li>
        </ul>
     </div>
</div>-->
      


          
