<form id="profile">
<div class="profile-header">
    
    <h1>
        {{controller.user.userName}}'s Profile
    </h1>
    
</div>

<div class="text-center profile-img"><img ng-src="{{controller.user.imageUrl}}" /></div>
<br />

<div class="profile-text"><span >Email</span>: {{controller.user.email}}</div>  

<div class="profile-text"><span >UserName</span>: {{controller.user.userName}}</div>  

<div class="profile-text"><span >Name</span>: {{controller.user.firstName}} {{controller.user.lastName}}</div>



<div class="profile-text"><span >About Me</span>: {{controller.user.aboutMe}}</div>


<div class="profile-text"><span class="profile-heads">Account Created on</span>: {{controller.user.dateCreated | date}}</div>

</form>