<div class="messages-background" ng-repeat="something in controller.messages">
<div class="text-center">
<img ng-src="{{something.profileImage}}"style=" height:7em; width:7em; border-radius:50%; margin-top:-3em;" />
<div class="pmessages-user">{{something.userName}}</div>
</div>
    <hr class="messages-hr"/>


 
    {{something.userName}}
    {{something.message}}
    {{something.dateCreated}}
    
</div>

	<section ng-repeat="loguser in controller.usermessage" class="container-post">
		{{loguser.userName}}
		{{loguser.message}}
		<img ng-src="{{loguser.profileImage}}" />
		{{loguser.dateCreated}}
	</section>
<center>
    <textarea type="text" ng-model="message" ></textarea>
    <button href="#" class="btn gen-btn btn-lg" ng-click="controller.InboxUser(message)">Send</button>
</center>
